@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: #85AEC0;
  /*font-family: 'Playfair Display', serif;*/
  font-family: 'Source Sans Pro', sans-serif;
}

.centered-element {
  text-align: center;
  font-family: 'Playfair Display', serif;;
}

.book-title {
  text-align: center;
  color: #FFF;
  background: #36385E;
  font-family: 'Playfair Display', serif;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr)

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book {

  background: #EBC28A;
  display: flex;
  flex-direction: column;
  justify-content: ;
  margin: 10px;
  box-shadow:  2px 0px 5px 0px #194d33;

}

.book-cover {

  width: 150px;

}

.book-info {
  margin-left: 5px;
  position: relative;
  bottom: 4px;

}

.info-display-format {
  display: flex;
  padding: 10px;
  
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {

  height: 30px;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background: #2196F3;
  border: 1px solid #FFF;
  border-radius: 5px;
 
}

input[type=text] {
  width: ;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-image: url('http://www.newdesignfile.com/postpic/2011/11/search-icon-clip-art_27174.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center; 
  margin: 5px;
  padding: 5px 35px 8px;
}